body {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   
}

#top-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
        

}
.green-background {
    background-color: green;
    display: flex;
    flex-basis: 20%;
}

.yellow-background {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
    width: 100vw;
    height:60vh;

}

#middle-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 30vh;
}

#content2 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.blue-background {
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 2;
          
}

#vertical-middle-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    }


#image {
    display: flex;
    flex-direction: row;
    width: 20vh;
    height: 30vh;
    flex-basis: 50%;
    align-self: flex-start;
    
}

#extra {
    display: flex;
    flex-direction: row;
    flex-flow: ;
    height: 30vh;
    
}


.red-background {
    background-color: red;
    
    
}

.lightgreen-background {
    background-color: lightgreen;
    
}

#FOOTER {
    display: flex;
    height: 100vh;

}

.purple-background {
    background-color: purple;
    display: flex;
    height: 5vh;

}