/* Resolução 1 */
#pond {
    display: flex;
  justify-content: flex-end
  }

/* Resolução 2 */
#pond {
    display: flex;
  justify-content: center
  }

/* Resolução 3 */
#pond {
    display: flex;
  justify-content: space-around
  }
/* Resolução 4 */
#pond {
    display: flex;
  justify-content: space-between;
  }
/* Resolução 5 */
#pond {
    display: flex;
  align-items: flex-end;
  }
/* Resolução 6 */
#pond {
    display: flex;
  align-items: center; 
  justify-content: center;
  }
/* Resolução 7 */
#pond {
    display: flex;
  justify-content: space-around;
  align-items: flex-end;
  }
/* Resolução 8 */
#pond {
    display: flex;
  flex-direction: row-reverse;
  }
/* Resolução 9 */
#pond {
    display: flex;
  flex-direction: column;
  }
/* Resolução 10 */
#pond {
    display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  }
/* Resolução 11 */
#pond {
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }
/* Resolução 12 */
#pond {
    display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  }
/* Resolução 13 */
#pond {
    display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row-reverse;
  }
/* Resolução 14 */
#pond {
    display: flex;
  }
  
  .yellow {
  order: 1
  }
/* Resolução 15 */
#pond {
    display: flex;
  }
  
  .red {
  order: -2
  }
/* Resolução 16 */
#pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self: flex-end;
  }
/* Resolução 17 */
#pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self: flex-end;
  order:1
  }
/* Resolução 18 */
#pond {
    display: flex;
  flex-wrap: wrap;
  }
/* Resolução 19 */
#pond {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  }
/* Resolução 20 */
#pond {
    display: flex;
  flex-flow: wrap column; 
  }
/* Resolução 21 */
#pond {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-start;
  }
/* Resolução 22 */
#pond {
    display: flex;
    flex-wrap: wrap;
  align-content: flex-end;
  }
/* Resolução 23 */
#pond {
    display: flex;
    flex-wrap: wrap;
  align-content: center;
  flex-direction: column-reverse;
  }
/* Resolução 24 */
#pond {
    display: flex;
  flex-flow: column-reverse wrap-reverse;
  align-content: space-between;
  justify-content: center;
  
  }