/* Galeria para foto e novas imagens */
 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif, Helvetica, sans-serif;
    
  }

/* Side navigation */
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #214252;
    overflow-x: hidden;
  }
  
    
/* Side navigation links */
  .sidenav a {
    color: white;
    margin: auto;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    block-size: 33%;
  }

/* Hover Links */
  .sidenav a:hover {
    background-color: #0e918c;
    color: black;
  }
  
/* Cabeçalho */
    .header {
    background-color: #28abb9;
    border: 10px solid azure;
    height: 100px;
    display: block;
    text-align: center;
    }

    
/* Style conteúdo */
  .content {
    margin-left: 151px;
    display:block;
    flex: 3;
    background-color: #f6f5f5 ; 
  }
  
   .grid-item {
    background-color: #d2f5e3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding:60px;
    font-size: 14px;
    text-align: center;
  }

/* Conteúdo organizado */

  div.gallery {
    border: 4px solid #ccc;
   display: inline-block;
  }
  
  div.gallery:hover {
    border: 1px solid #f05454;
    background-color: #ce6262;
  }
   
  div.gallery > article {
        width: 100%;
        height: 100%;
    
    }

/* Conteúdo HomePage */
.all-subject {
    margin: 0;
    padding: 5px;
    background-color: #01c5c4;
  }
  
  .all-subject > h1, .subject {
    margin: 10px;
    padding: 5px;
  }
  
  .subject {
    background: white;
  }
  
  .subject > h2, p {
    margin: 2px;
    font-size: 90%;
  }

/* Galeria */


/* Rodapé */
  .Footer {
    background-color: #01c5c4;
    height: auto;
    display: block;
    position: absolute;
    bottom: auto;
    width: 45%;
    grid-row: 100px;
    }

    .Footer > p {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
    }

    .img-Footer {
    width: 30%;
    float: right;
    text-align: auto;
    margin: none;
    }

    .img-Footer > img {
    height: 40px;
    margin: 5px;
    }